@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.borderText {
  position: relative;
  color: white;
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Burger Menu */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.NavLinks ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 8rem;
  right: 0;
  background: black;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

.NavLinks ul li {
  list-style-type: none;
  padding: 10px 20px;
}

.NavLinks ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 2.5rem;
}

.NavLinks ul li a:hover {
  color: red;
  transition: 0.3s;
}

.MobileNavigation {
  display: flex;
  align-items: center;
}

.HamburgerMenu {
  cursor: pointer;
  position: absolute;
  right: 2%;
}

/* Loading animation */

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-pulse {
  animation: pulse 2s infinite;
}
